.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.userlist{
  background-color: skyblue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shadow{
  box-shadow: 0 0 5px;
  padding: 20px;
}

h3{
  color:orangered;
  font-size: 20px;
}
.btn_style{
  margin-bottom: 20px;
}

.close{
  
  color: red;
  font-size:15px;
  text-align: center;
  padding:10px;
  opacity:1;
  cursor: pointer;
}
hr{
  background-color: black;
}

.itemcom{
  border: plum;
}

.heading{
  color:blue;
}